

<div class="row">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Id
                </th>
                <th >
                    Title
                </th>
                <th >
                    Price
                </th>
                <th >
                    Expiry Date
                </th>
                <th >
                    Quantity
                </th>
                <th >
                    In Stock
                </th>

            </tr>
        </thead>
        <tbody>
            
                <td>{{product.Id}}</td>
                <td>{{product.Title}}</td>
                <td>{{product.Price | currency :"INR"}}</td>
                <td>{{product.ExpiryDate | date}}</td>
                <td>{{product.Quantity}}</td>
                <td>{{product.isInStock}}</td>
          
        </tbody>
    </table>
</div>
