<br>
<div  class="container" >
  <h2 class="text-danger">Angular Project Demo</h2>
 <div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark  harshit" >
      <a class="navbar-brand" routerLink ="/home">Harshit</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link"  routerLink ="/databinding">Data Binding <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink ="/products">Structural Direc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink ="/masterdetails">Master Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink ="/sharedata" >Share Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink ="/attributedirective"  >Attribute Directive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "  routerLink ="/generateerror"> Generate Er</a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
  </div>
</div>
<router-outlet></router-outlet>  
</div>


  
  <!-- <div class="row">
    <div class="col-md-12">
    <app-hello *ngIf="showDataBindingDemo"></app-hello>
    <app-product *ngIf="showDirectiveDemo"></app-product>
    <app-purchase *ngIf="showPurchase"></app-purchase>
    <app-sharedata *ngIf ="showData"></app-sharedata>
    </div>
    <app-attributedirective *ngIf = "showAttributeDirective"></app-attributedirective>  -->
    
  <!-- <button routerLink ="/databinding">Data Binding</button>
    <button routerLink ="/products">Structural Directive</button>
    <button routerLink ="/masterdetails">Master Details</button>
    <button routerLink ="/attributedirective">Attribute Dir</button> -->
    


