<br>

<div class="container">
    <div class="jumbotron">
        <h1 >Welcome to the Angular Project Demo</h1>
      </div>
      <hr>
      <div>
          <h3>Harshit Varshney</h3>
          <h4>Associate Software Engineer Trainee</h4>
      </div>
    <hr>
          <h2>Index</h2>
        <a href="/login">Login</a> <br>
         <a href="/databinding">Data Binding</a><br>
         <a href="/products">Structure Demo</a> <br>
         <a href="/masterdetails">Master Details</a> <br>
         <a href="/sharedata">Share Data</a> <br>
         <a href="/attributedirective">Attribute Directive</a> <br>
         <a href="/generateerror">Generate Error</a> <br>
        

            

         
     
  </div>