
        <br>
        <div class="col-md-4">
            <button class="form-control btn btn-outline-danger" (click) = "GenerateError()">Generate Error</button> 
        </div>
        <br>
 <div class="row">
    <div class="column">
      <img src="../assets/img1.png" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <img src="../assets/img4.png" alt="Forest" style="width:100%">
    </div>
</div>
<div class="row">
    <div class="column">
      <img src="../assets/img3.png" alt="Mountains" style="width:100%">
    </div>
    <div class="column">
        <img src="../assets/img2.png" alt="Mountains" style="width:100%">
      </div>
  </div>
